.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers the modal */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    width: 400px; /* Adjust as needed */
    max-width: 90%; /* Responsive width */
  }
  
  .close {
    cursor: pointer;
    float: right;
    font-size: 24px;
    color: #aaa;
  }
  
  .close:hover {
    color: #000; /* Change color on hover for better UX */
  }
  